<div ng-controller="NewPinCtrl" id="pin-new">
    <div class="modal-header">
        <h3 class="modal-title">Add a pin</h3>

        <div ng-show="isSuccess" id="success-message" class="fade in alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Nice!</strong> Contact saved successfully
        </div>

        <div ng-show="isSuccess === false" id="fail-message" class="fade in alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Woops!</strong> Something went wrong...try again
        </div>
    </div>

    <form name="newPinForm" ng-submit="submitForm()" novalidate>
        <div class="modal-body">
            <div class="form-group col-sm-6">
                <input ng-model="pin.name" required type="input" class="form-control" id="inputName" aria-describedby="Name" placeholder="Pin Name">
            </div>
            <div class="form-group col-sm-6">
                <input ng-model="pin.description" required type="input" class="form-control" id="inputDescription" aria-describedby="description"
                    placeholder="Description">
            </div>
            <div class="form-group col-sm-6">
                <input ng-model="pin.imageLink" required type="input" class="form-control" id="inputImgLink" aria-describedby="image" placeholder="Image Link">
            </div>
            <div class="form-group col-sm-6">
                <input ng-model="pin.sourceLink" required type="input" class="form-control" id="inputSourceLink" aria-describedby="source"
                    placeholder="Source Link">
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="newPinForm.$invalid" class="btn btn-primary save-btn">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>