<div ng-controller="PinDetailCtrl" id="pin-detail" class="text-center">
    <div class="modal-header">
        <h3 class="modal-title text-capitalize">{{pin.name}}</h3>
    </div>
    
    <div class="modal-body row">
        <img class="detailImage" ng-src={{pin.imageLink}} alt="Image of Pin Coming Soon!">
        <a href="{{pin.sourceLink}}">{{pin.sourceLink}}</a>
        <p>{{pin.description}}</p>

        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-pushpin"></span>
                Pin this to a board, Sucka
            </button>
                
            <div class="dropdown-menu">
                    <a class="dropdown-item" ng-repeat="board in boards" ng-click="addPinToBoard(pin.id, board.id)">{{board.name}}</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center createNewBoardLink" ng-click="inputModeTrue()" >Create New Board</a>
            </div>

            <div ng-show="input">
                <input type="text"  ng-model="boardName"><button class="btn btn-default" ng-click="createBoardWithPin()">Save</button>
            </div>
                
        </div>
    </div>

</div>