.navbar #inputText {
  margin-top: 16px; }

.navbar .little-bit-of-top-margin {
  margin-top: 9px; }

.navbar li a {
  cursor: pointer; }

.modal-content .alert {
  width: 95%;
  margin: auto; }

.modal-content .modal-footer {
  border-top: none; }
  .modal-content .modal-footer .btn {
    float: right;
    margin-left: 0;
    margin-right: 15px; }

.home .thumbnail {
  position: relative; }
  .home .thumbnail .pin {
    position: absolute;
    right: 15px;
    top: 15px; }
